<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>To Do List - Register</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
    <div id="registerDiv" class="header parent">
      <input type="text" id="usernameReg" placeholder="Username" class="loginClass">
      <input type="text" id="passwordReg" placeholder="Password" class="loginClass">
      <input type="text" id="passwordReg" placeholder="Confirm Password" class="loginClass">

      <span onClick="attemptRegister()" class="button">Register</span>
    </div>
    <script language="JavaScript" type="text/javascript" src="{% static "js/script.js" %}"></script>

  </body>
</html>
